<div class="footer sticky-bottom">
  <div class="footer-links">
    <a href="https://github.com/juliaf1" target="_"><%= icon('fab', 'github') %></a>
    <a href="https://www.instagram.com/jutjutba/" target="_"><%= icon('fab', 'instagram') %></a>
    <a href="https://www.linkedin.com/in/julia-frederico-95651b1a2/" target="_"><%= icon('fab', 'linkedin') %></a>
  </div>
  <div class="footer-copyright">
    Made with Rails during Le Wagon Batch #499
  </div>
</div>
